{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<div class="container-fluid container-wrap row">
    <hr class="fancy-hr" />
    {{> 'post/basic'}}
    {{#if pagination}}
        {{pagination}}
    {{/if}}
</div>